# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints/

# Env
.env
.venv/
venv/
ENV/
env.bak/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Output files
*.log
*.csv
*.sqlite3
